
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4928746886-32ikg1kol2clnimjjmk1ek1eat2n385f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4928746886-32ikg1kol2clnimjjmk1ek1eat2n385f</string>
	<key>API_KEY</key>
	<string>AIzaSyAkHHaJeA_WOudeGB6VKan9BV5kN6YC8yw</string>
	<key>GCM_SENDER_ID</key>
	<string>4928746886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biblegame.mobile</string>
	<key>PROJECT_ID</key>
	<string>bible-game-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>bible-game-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4928746886:ios:ede2bb241ab277e7aae807</string>
</dict>
</plist>
